# Konfiguracja VSCode
**/.vscode

# Konfiguracja Jetbrains IDE
**/.idea

# Blokady dostępu do zajętych plików
**/*.lck

# Zapisy dzienników
**/*.log

# Środowiska wirtualne Python
**/.venv
**/venv

# Pamięć cache modułów Python
**/__pycache__/

# Pamięć bazy danych
**/db/vol

# Sesje SQL
**/*.session.sql

# Stare pliki
**/.old

# Projekt bazy danych DataGrip
**/dg_proj