# Konfiguracja VSCode
**/.vscode

# Konfiguracja Jetbrains IDE
**/.idea

# Blokady dostępu do zajętych plików
**/*.lck

# Zapisy dzienników
**/*.log

# Środowiska wirtualne Python
**/.venv
**/venv

# Pamięć cache modułów Python
**/__pycache__/

# Zmienne środowiskowe Docker'a
**/.env

# Pamięć bazy danych
**/maria/data/*
**/redis/data/*

# Sesje SQL
**/*.session.sql

# Stare pliki
**/.old