:root{
    --background-color : #0f172a;
    --title-color : #ffffff;
    --title-font-size: 1.5rem;
    --active-color: #1d4ed8;
    --hover-color: #172554;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background-color: var(--background-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav .title{
    font-size: var(--title-font-size);
    color: var(--title-color);
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--title-color);
    padding: .5rem;
    /* margin: 0 0.5rem; */
    border-radius: .5rem;
    font-weight: bold;
    transition: .3s;
}
.active{
    background-color: var(--active-color);
    margin: 0 0.5rem;
    /* border-radius: .5rem; */
    border-radius: .5rem;
}
nav ul li a:hover{
    background-color: var(--hover-color);
    /* padding: .5rem; */
    /* margin: 0 0.5rem; */
}

nav .menu{
    position: absolute;
    top: .75rem;
    right: .5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 1.75rem;
    display: flex;
    visibility: hidden;
}
nav .menu span{
    height: .4rem;
    width: 100%;
    background-color: white;
    border-radius: .25rem;
}

@media (max-width: 600px){
    nav .menu{
        /* display: flex; */
        visibility: visible;
        transition: .3s;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: .25rem;
    }
    nav ul li{
        width: 100%;
        text-align: center;
        
    }
    .active{
        margin: 0;
        /* margin-left: .25rem; */
        /* margin-right: .5rem; */
    }
   nav ul.open{
    display: flex;
    
   }
 

}

